################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Task_042022/.vs/Task_042022/v17
/Task_042022/Task_042022/obj
/Task_042022/Task_042022/bin/Debug/net6.0-windows
